{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false
			}
		],
		"@babel/preset-react",
		"@babel/preset-typescript"
	],
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-syntax-dynamic-import",
		"react-hot-loader/babel",
		"babel-plugin-styled-components"
	],
	"env": {
		"production": {
			"only": ["src"],
			"plugins": [
				"lodash",
				"transform-react-remove-prop-types",
				"@babel/plugin-transform-react-inline-elements",
				"@babel/plugin-transform-react-constant-elements"
			]
		}
	}
}
