$link-color: rgb(133, 129, 129);
$active-link-color: #191919;
$link-border-default: 0.1rem solid transparent;
$link-border-bottom: 0.1rem solid $active-link-color;

.nav {
	list-style: none;
	display: flex;
	justify-content: flex-end;

	&__item {
		text-decoration: none;
		color: $link-color;
		text-transform: uppercase;
		border-bottom: $link-border-default;

		&:hover,
		&:active {
			color: $active-link-color;
			border-bottom: $link-border-bottom;
		}

		&:last-child {
			margin-left: 0.8rem;
		}

		&.active {
			color: $active-link-color;
			border-bottom: $link-border-bottom;
		}
	}
}
